<div class="container columns-ordering my-5">
  <div class="bg-white mb-3">
    <div class="" id="quizHeader">
      <h2 class="mb-3 w-75"><strong>Cómo conducir con nosotros</strong></h2>
      <p class="lead w-75 mb-5">Sigue el proceso para formar parte de la mejor comunidad de choferes</p>
    </div>
    <div class="row" id="quizContent">
      <div class="col-sm-6">
        <div class="">
          <div class="">
            <h4>Comparte tus documentos</h4>
            <p>Rellena el formulario con tus datos y contactaremos contigo para informarte sobre los siguientes pasos a seguir.</p>
            <h5 class="mb-3 mt-5"><strong>Requisitos:</strong></h5>
            <div class="card" style="width: 30rem;">
              <ul class="list-group list-group-flush">
                <div class="list-group-item d-flex justify-content-between">
                  <li class="list-group-item border-bottom-0">Documento de identidad</li>
                  <i class="fas fa-passport"></i>
                </div>
                <div class="list-group-item d-flex justify-content-between">
                  <li class="list-group-item border-bottom-0">Antecedentes Penales</li>
                  <i class="fas fa-passport"></i>
                </div>
                <div class="list-group-item d-flex justify-content-between">
                  <li class="list-group-item border-bottom-0">Carnet de conducir</li>
                  <i class="fas fa-passport"></i>
                </div>
                <div class="list-group-item d-flex justify-content-between">
                  <li class="list-group-item border-bottom-0">Foto Carnet</li>
                  <i class="fas fa-passport"></i>
                </div>
              </ul>
            </div>
            <div class="card col-sm-6" style="width: 30rem; height: 25rem;  border-color: #2A94E7; position: fixed;  bottom: 60px; right: 60px;">
              <div class="card-body">
                <h4 class="card-title mt-3 mb-3">Cuestionario online para prueba de conducir</h4>
                <h5 class="card-subtitle mb-5 text-muted">Quedan pocos pasos para que seas chofer</h5>
                <h4 class="card-text">Para complementar tu aptitud como chofer de <strong>We drive it</strong>, necesitamos que completes un quiz sobre conducción. Puedes practicar utilizando el <a href="https://www.buenosaires.gob.ar/licenciasdeconducir/curso-de-educacion-vial-para-otorgamiento-de-licencia/material-de-estudio-para">material de estudio</a> provisto por el gobierno de la ciudad.</h4>
                <h4 class="mt-3"><a href="https://www.buenosaires.gob.ar/licenciasdeconducir/curso-de-educacion-vial-para-otorgamiento-de-licencia/material-de-estudio-para" class="card-link">Material estudio</a></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" id="quizStart" class="btn btn-primary btn-block mt-5 mx-3">Comenzar!</a>
    </div>
    <div id="quiz" data-questions="<%= @questions.count %>" class="d-none mb-3">
      <h3 id="quizText" class="">We Drive It Driver-Quiz</h3>
      <%= simple_form_for :question, url: driver_requirement_index_path do |f| %>
      <% @questions.each_with_index do |question, index| %>
      <div class="card text-white bg-dark mb-3 d-none question" data-step="<%= index %>" style="max-width: 100rem;">
        <div class="card-body">
          <h5 class="card-title"><%= question.statement %></h5>
          <p class="card-text"><%= f.input question.id, as: :radio_buttons, collection: question.choices.map { |choice| [choice.declaration, choice.id] } %></p>
        </div>
      </div>
      <% end %>
      <a id="nextQ" href="#" class="btn btn-primary">Siguiente pregunta</a>
      <%= f.submit "Enviar", class: "btn btn-primary btn-block d-none", id: "submitButton" %>
      <% end %>
    </div>
  </div>
</div>



