<div class="banner- p-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80); background-size: cover">
  <div class="row justify-content-center mt-5">
   <div class="col-10 col-md-6">
     <div class="card p-5 mx-auto my-5" style="background: rgba(210,210,210,0.8)">
       <div class="img-png-black-car img-fluid"style="text-align:center">
         <img src="http://pngimg.com/uploads/bmw/bmw_PNG1685.png" width="150" height="100" alt="">
       </div>
       <h1 class="title text-dark my-3 text-center">Bienvenido a We Drive It!</h1>
       <p class="text-dark">Para inscribirse como chofer es necesario que completes el siguiente formulario.
         Te recordamos que <strong>es imprescindible</strong> que lleves contigo <strong>los originales de todos los documentos solicitados para poder adjuntarlos</strong> en el registro.</p>
         <div class="d-flex justify-content-center">
           <ul class=""><p class="text-dark"><strong>Necesitás tener a mano</strong></p>
             <p class="text-dark">- Tu DNI</p>
             <p class="text-dark">- Tu licencia de conducir</p>
             <p class="text-dark">- Antecedentes Penales</p>
             <p class="text-dark">- Foto Carnet</p>
           </ul>
         </div>
         <div class="d-flex flex-column justify-content-center">
           <button type="button" class="btn btn-dark btn-lg mb-3"><a href="<%= new_user_registration_path(role: "driver") %>"><strong>Quiero registrarme</strong></a></button>
           <button type="button" class="btn btn-light btn-lg"><a href="<%= new_user_session_path %>"><strong>Ya estoy registrado</strong></a></button>
         </div>
       </div>
       <div class="container columns-ordering my-5" style="background: rgba(210,210,210,0.8); border-radius: 2px;">
        <div class="mb-3 p-3">
          <div class="pt-3" id="quizHeader">
            <h2 class="mb-3 w-75 text-dark"><strong>ULTIMO PASO</strong></h2>
            <p class="lead w-75 mb-5 text-dark">Para terminar con tu proceso para ser chofer deberas aprobar este examen.</p>
          </div>
          <div class="row" id="quizContent">
            <div class="col-sm-6">
            </div>
            <a href="#" id="quizStart" class="btn btn-primary btn-block my-5 mx-3">Comenzar!</a>
          </div>
          <div id="quiz" data-questions="<%= @questions.count %>" class="d-none mb-3">
            <h3 id="quizText" class="quiz-title">Examen de conduccion</h3>
            <%= simple_form_for :question, url: driver_requirement_index_path do |f| %>
            <% @questions.each_with_index do |question, index| %>
            <div class="card text-white bg-dark mb-3 d-none question" data-step="<%= index %>" style="max-width: 100rem;">
              <div class="card-body">
                <h5 class="card-title"><%= question.statement %></h5>
                <p class="card-text"><%= f.input question.id, as: :radio_buttons, collection: question.choices.map { |choice| [choice.declaration, choice.id] } %></p>
              </div>
            </div>
            <% end %>
            <a id="nextQ" href="#" class="btn btn-primary">Siguiente pregunta</a>
            <%= f.submit "Enviar", class: "btn btn-primary btn-block d-none", id: "submitButton" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Quedan pocos pasos!</strong> Puedes practicar utilizando el <a href="https://www.buenosaires.gob.ar/licenciasdeconducir/curso-de-educacion-vial-para-otorgamiento-de-licencia/material-de-estudio-para">material de estudio</a> provisto por el gobierno de la ciudad.</span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>



