<div class="row">
  <div class="col-5"><h2>Regístarte</h2></div>
  <div class="col-7"><%= link_to '¿Quieres registrarte como pasajero?', new_user_registration_path(role: 'passenger'), class: 'text-right'  %></div>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= f.error_notification %>

<div class="form-inputs mx-3 my-2">
  <h6>Información del usuario:</h6>
  <%= f.input :email,
  required: true,
  autofocus: true,
  input_html: { autocomplete: "email", class: "input_placeholder" }, label: false , placeholder: "Email" %>
  <%= f.input :password,
  required: true,
  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
  input_html: { autocomplete: "new-password", class: "input_placeholder" }, label: false , placeholder: "Contraseña"
  %>
  <%= f.input :password_confirmation,
  required: true,
  input_html: { autocomplete: "new-password", class: "input_placeholder" }, label: false , placeholder: "Repetir contraseña"
  %>
</div>

<div class="form-inputs mx-3 my-2">
  <h6>Información personal:</h6>
  <%= f.input :full_name, input_html: { class: "input_placeholder" }, label: false , placeholder: "Nombre y Apellido" %>

  <%= f.label :birthday, "Fecha de nacimiento" %>
  <%= f.input :birthday, as: :date, start_year: Date.today.year - 90,
  end_year: Date.today.year,
  order: [:day, :month, :year] %>
  <%= f.input :dni, input_html: { class: "input_placeholder" }, label: false , placeholder: "DNI" %>
  <%= f.input :city,  input_html: { class: "input_placeholder" }, label: false , placeholder: "Ciudad" %>
  <!-- Agregar numero y lote (quedamos en que no va)-->
</div>

<div class="mx-3 my-2" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
  <%= f.hidden_field :role, value:"driver" %>
  <h6>Licencia de conducir:</h6>
  <%= f.input :license,  input_html: { class: "input_placeholder" }, label: false , placeholder: "Nº licencia de conducir" %>
</div>
</div>
<div class="form-actions mt-3">
  <%= f.button :submit, "Sign up", class: "btn btn-primary  btn-block" %>
</div>
<% end %>
