<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491921125492-f0b9c835b699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60); background-size: cover;">

  <div class="container">
    <div class="row justify-content-around">

      <div class="d-none d-md-flex col-md-4 flex-column text-center mt-5">
        <div class="border-0 bg-transparent d-flex flex-column">
          <%= image_tag("clock-white.png", height: '150', width: '150', class:"mx-auto my-4") %>
          <p class="text-white"><small>Pasamos m치s de 4 a침os de nuestra vida manejando.
          Con nuestro servicio de choferes podes aprovechar el tiempo que conduces para leer, responder correos, descansar o simplemente disfrutar del camino.</small></p>
        </div>

        <div class="border-0 bg-transparent d-flex flex-column">
          <%= image_tag("car-front-white.png", height: '150', width: '150', class:"mx-auto my-2") %>
          <p class="card-text-new text-center text-white"><small> Viaja seguro. Contratando nuestro servicio est치s en manos de profesionales. Viajes largos, fiestas, negocios. Tu chofer te va a acompa침ar durante el viaje.</small></p>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card p-3 mt-5 mb-5" style="background: rgba(200,200,200,0.8)">


          <% if params[:role] == "driver" %>
          <%= render "devise/registrations/driver" %>
          <% else  %>
          <%= render "devise/registrations/passenger" %>
          <% end %>

          <div class="mb-2">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
