<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491921125492-f0b9c835b699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60); background-size: cover;">

  <div class="container">
    <div class="row justify-content-around">

      <div class="d-none d-md-flex col-md-4 flex-column text-center mt-5">
        <div class="border-0 bg-transparent d-flex flex-column">
          <%= image_tag("clock-white.png", height: '150', width: '150', class:"mx-auto my-4") %>
          <p class="text-white"><small>Pasamos más de 4 años de nuestra vida manejando.
          Con nuestro servicio de choferes podes aprovechar el tiempo que conduces para leer, responder correos, descansar o simplemente disfrutar del camino.</small></p>
        </div>

        <div class="border-0 bg-transparent d-flex flex-column">
          <%= image_tag("car-front-white.png", height: '150', width: '150', class:"mx-auto my-2") %>
          <p class="card-text-new text-center text-white"><small> Viaja seguro. Contratando nuestro servicio estás en manos de profesionales. Viajes largos, fiestas, negocios. Tu chofer te va a acompañar durante el viaje.</small></p>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card p-3 mt-5" style="background: rgba(200,200,200,0.8)">
          <h2>Regístarte</h2>

          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Para viajar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Para conducir</a>
            </li>
          </ul>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs mx-3 my-2">
            <h6>Información del usuario:</h6>
            <%= f.input :email,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email", class: "input_placeholder" }, label: false , placeholder: "Email" %>
            <%= f.input :password,
            required: true,
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { autocomplete: "new-password", class: "input_placeholder" }, label: false , placeholder: "Contraseña"
            %>
            <%= f.input :password_confirmation,
            required: true,
            input_html: { autocomplete: "new-password", class: "input_placeholder" }, label: false , placeholder: "Repetir contraseña"
            %>
          </div>


          <div class="form-inputs mx-3 my-2">
            <h6>Información personal:</h6>
            <%= f.input :full_name, input_html: { class: "input_placeholder" }, label: false , placeholder: "Nombre y Apellido" %>

            <%= f.label :birthday, "Fecha de nacimiento" %>
            <%= f.input :birthday, input_html: { class: "input_placeholder" }, label: false%>


            <%= f.input :dni, input_html: { class: "input_placeholder" }, label: false , placeholder: "DNI" %>
            <%= f.input :city,  input_html: { class: "input_placeholder" }, label: false , placeholder: "Ciudad" %>
            <!-- Añadí la posibilidad de agregar una foto al usuario   -->
            <!-- Agregar numero y lote (quedamos en que no va)-->
          </div>

          <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">


              <%= f.simple_fields_for :cars do |c| %>
              <div class="form-inputs mx-3 my-2">
                <h6>Información del vehículo:</h6>
                <%= c.input :brand, input_html: { class: "input_placeholder" }, label: false , placeholder: "Marca" %>
                <%= c.input :model,  input_html: { class: "input_placeholder" }, label: false , placeholder: "Modelo" %>
                <%= c.input :year,  input_html: { class: "input_placeholder" }, label: false , placeholder: "Año" %>
                <%= c.input :transmission, as: :radio_buttons, collection: Car::TRANSMISSIONS, wrapper: :vertical_collection_inline  %>
                <%= c.input :plate,  input_html: { class: "input_placeholder" }, label: false , placeholder: "Patente" %>
                <%= c.input :poliza,  input_html: { class: "input_placeholder" }, label: false , placeholder: "Poliza" %>
                <%= c.input :green_card,  input_html: { class: "input_placeholder" }, label: false , placeholder: "Tarjeta verde" %>
                <%= c.input :fuel_type, as: :radio_buttons, collection: Car::FUEL_TYPE, wrapper: :vertical_collection_inline  %>

              </div>
              <% end %>
            </div>
            <div class="tab-pane fade mx-3 my-2" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

              <h6>Licencia de conducir:</h6>
              <%= f.input :license,  input_html: { class: "input_placeholder" }, label: false , placeholder: "Nº licencia de conducir" %>

            </div>

          </div>
        </div>
        <div class="form-actions mt-3">
          <%= f.button :submit, "Sign up", class: "btn btn-primary  btn-block" %>
        </div>
        <% end %>
        <div class="mb-5">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
