<div class="container-fluid">
  <div class="d-flex-space-between">
    <h1>Hola <%= current_user.full_name %>!</h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="my-rides">
        <h4><strong>Viajes pendientes</strong></h4>
        <div class="cards cards-ride-wrapper mb-1">
          <% @myrides.each do |ride| %>
            <div class="card text-white bg-primary mr-3">
              <div class="card-body">
                <h5><strong class="ejemplo">Tienes un viaje pendiente</strong></h5>
                <p class="card-text"><strong>Desde:   </strong> <%= ride.steps.first.address %></p>
                <p class="card-text"><strong>Hasta:   </strong> <%= ride.steps.last.address %></p>

                <strong><p class="card-text"><i class="far fa-clock"></i>          <%= ride.start_time.strftime("%b %e, %l:%M %p") %></p></strong>
                <p class="card-text"></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="my-earnings w-100">

      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4 class="text-center"><strong>Viajes Disponibles</strong></h4>
      <div class="cards mb-1 cards-ride-wrapper">
        <% @rides.each do |ride| %>
          <div class="card shadow-sm bg-white rounded mr-3" >
            <div class="card-body">
              <div class="d-flex-space-between">
                <h5 class="card-title" style="font-size: 13px"><strong>Pasajero: </strong><%= ride.user.full_name %></h5>
                <h6 style="color:blue; font-size:16px"><strong>Costo estimado: $<%=ride.estimated_price%></strong></h6>
              </div>
              <h6><strong>Desde</strong></h6>
              <span class="card-text"><%= ride.steps.first.address %></span>
              <h6><strong>Hasta</strong></h6>
              <span class="card-text"><%= ride.steps.last.address %></span>
              <!-- Button trigger modal -->
              <div class="mx-auto ">
                <button type="button" class="btn btn-primary mx-auto" data-toggle="modal" data-target="#ride<%= ride.id %>">
                  Viaje Pendiente
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="ride<%= ride.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="exampleModalLongTitle"><strong>Pasajero: </strong> <%= ride.user.full_name %></h6>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="mx-auto mb-5"
                      id="map"
                      style="width: 100%;
                      height: 150px;"
                      data-markers="<%= @markers.to_json %>"
                      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
                      ></div>
                      <div class="shadow-sm p-3 mb-5 bg-white rounded">
                      <h6 class="modal-title" id="exampleModalLongTitle"><strong>Partida:</strong><%= ride.steps.first.address%></h6>
                      <h6 class="modal-title" id="exampleModalLongTitle"><strong>Destino:</strong><%= ride.steps.last.address%></h6>
                      <h6 class="modal-title" id="exampleModalLongTitle"><strong>Comienzo:</strong><%= ride.start_time.strftime("%b %e, %l:%M %p") %></h6>
                      <button type="button" class="btn-pop-up rounded-top btn-primary"> <strong>Costo estimado: $<%= ride.estimated_price %></strong></button>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <%= link_to "Tomar viaje", ride_path(ride), method: :patch, remote: :true, class:"btn btn-primary" %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        <% end %>
      </div>
       <div class="card">
       </div>
    </div>
  </div>
</div>
