<div class="container-fluid">
  <h1 class="my-3">Hola <%= current_user.full_name.split(" ").map { |s| s.capitalize }.join(' ') %></h1>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="my-rides">
        <h4><strong>Viajes pendientes</strong></h4>
        <div class="cards cards-ride-wrapper mb-1">
          <% if !@myrides.empty? %>
            <% @myrides.not_finished.each do |ride| %>
              <div class="card text-white bg-primary mr-3">
                <div class="card-body">
                  <h5><strong class="ejemplo">Tienes un viaje pendiente</strong></h5>
                  <p class="card-text"><strong>Pasajero:   </strong><%= ride.user.full_name.split(" ").map { |s| s.capitalize }.join(' ') %></p>
                  <p class="card-text"><strong>Desde:   </strong> <%= ride.steps.first.address %></p>
                  <p class="card-text"><strong>Hasta:   </strong> <%= ride.steps.last.address %></p>
                  <strong><p class="card-text"><i class="far fa-clock"></i> <%= ride.start_time.strftime("%b %e, %l:%M %p") %></p></strong>
                </div>
                <%= link_to "Estado del viaje", ride_path(ride), class:"btn btn-primary" %>
              </div>
            <% end %>
          <% else %>
          <p class="lead">No tienes viajes asignados!</p>
          <% end %>
        </div>
      </div>
      <div class="my-earnings w-100"></div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4><strong>Viajes Disponibles</strong></h4>
      <div class="cards mb-1 cards-ride-wrapper">
        <% @rides.not_finished.each do |ride| %>
          <div class="card shadow-sm bg-white rounded mr-3" >
            <div class="card-body">
              <div class="d-flex-space-between">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title" style="font-size: 13px"><strong>Pasajero: </strong><%= ride.user.full_name.split(" ").map { |s| s.capitalize }.join(' ') %></h5>
                  <i class="fas fa-trash text-dark"></i>
                </div>
                <h6 style="color: #7CB74E; font-size:16px"><strong>Costo estimado: $<%=ride.estimated_price%></strong></h6>
              </div>
              <h6 class="mt-2"><strong>Tipo de viaje</strong></h6>
              <% if ride.service_type.name == ServiceType::OPTIONS[1] %>
                <span class="card-text">Por tramo</span>
              <% else %>
                <span class="card-text">Por hora</span>
              <% end %>
              <strong><p class="card-text my-2"><i class="far fa-clock"></i> <%= ride.start_time.strftime("%b %e, %l:%M %p") %></p></strong>
              <h6><strong>Punto de partida</strong></h6>
              <span class="card-text"><%= ride.steps.first.address %></span>
              <% if ride.service_type.name == ServiceType::OPTIONS[1] %>
              <h6><strong>Destino</strong></h6>
              <span class="card-text"><%= ride.steps.last.address %></span>
              <% else %>
              <h6><strong>Punto de devolucion</strong></h6>
              <span class="card-text"><%= ride.steps.last.address %></span>
              <% end %>
              <div class="modal fade" id="ride<%= ride.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="exampleModalLongTitle"><strong>Pasajero: </strong> <%= ride.user.full_name %></h6>
                    </div>
                    <div class="modal-body">
                      <div class="shadow-sm p-3 mb-1 bg-white rounded">
                      <h6 class="modal-title" id="exampleModalLongTitle"><strong>Partida:</strong><%= ride.steps.first.address%></h6>
                      <h6 class="modal-title" id="exampleModalLongTitle"><strong>Destino:</strong><%= ride.steps.last.address%></h6>
                      <h6 class="modal-title" id="exampleModalLongTitle"><strong>Comienzo:</strong><%= ride.start_time.strftime("%b %e, %l:%M %p") %></h6>
                      <h5><strong>Costo estimado: $<%= ride.estimated_price %></strong></h5>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <%= link_to "Tomar viaje", ride_path(ride), method: :patch, remote: :true, class:"btn btn-primary" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer p-0">
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#ride<%= ride.id %>">
                Seleccionar viaje
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
