<div class="banner " style="background-color: white;">

  <div class="container" style="min-height: 90vh;">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 my-5">
        <div class="card text-center" style="background: rgba(220,220,220,0.8); box-shadow: 2px, 2px 2px rgba( 0, 0, 0, 0.8);">
          <div class="card-header">
            <strong> TU VIAJE HA FINALIZADO</strong>
          </div>
          <div class="card-body">
            <h5 class="card-title">Resumen:</h5>
            <p class="card-text" style="color:black">Inicio: <%=@ride.start_time.strftime('%b %e, %l:%M %p') %></p>
            <p class="card-text" style="color:black" >Final: <%=@ride.end_time.strftime('%b %e, %l:%M %p') %></p>
            <p class="card-text" style="color:black">Total horas: <%=@ride.total_time_ride %></p>
            <p class="card-text text-body"> <strong>Total a pagar: $<%= @ride.estimated_price %> </strong></p>
          </div>
          <div class="card-footer text-muted">
            <form action="<%= ride_payments_path(@ride) %>" method="POST">
            <script
              src="https://www.mercadopago.com.ar/integrations/v1/web-tokenize-checkout.js"
              data-elements-color="#0B5FC4"
              data-header-color="#0B5FC4"
              data-public-key="<%= ENV['MP_PUBLIC_TOKEN'] %>"
              data-transaction-amount="<%= @ride.estimated_price %>"
              data-button-label="Confirmar y pagar"
              <% if current_user.mp_customer_id? %>
                data-customer-id="<%= current_user.mp_customer_id %>"
                data-card-ids="<%= current_user.mp_card_id %>">
              <% end %>
              >
            </script>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
