<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 mt-4">
      <div class="text-center shadow-sm p-3 mb-4 rounded" style="background: rgba(200,200,200,0.5)">
        <h4 class="font-weight-light mt-1"><strong>VIAJE EN CURSO</strong></h4>
      </div>
      <div class="my-2 shadow-sm p-3 mb-3 rounded" style="background: rgba(200,200,200,0.4)">
        <div class="container text-center my-2">
          <div style="">
            <% if @ride.user.cars.first.photo != nil %>
            <%= cl_image_tag( @ride.user.cars.first.photo , height: '230', width: '270', class:"mx-auto;", style:"object-fit: cover;") %>
            <% else %>

            <% end %>
          </div>
          <div class="mt-4">
            <h2><%=@ride.user.full_name.split(" ").map { |s| s.capitalize }.join(' ') %></h2>
            <h3><%=@ride.user.cars.first.brand%> - <%= @ride.user.cars.first.model%></h3>
            <h6><strong>Observaciones: </strong><%=@ride.content%></h6>
          </div>
        </div>
      </div>

      <div class="text-center shadow-sm p-3 mb-5 rounded" style="background: rgba(200,200,200,0.4)">
        <% if @ride.status == "VIAJE TERMINADO"%>
        <h5>Viaje finalizado!</h5>
        <% else %>
        <% next_status = @ride.status_before_type_cast + 1 %>
        <%= link_to "#{Ride::statuses.index(next_status)}", ride_path(@ride, ride: { status: Ride::statuses.index(next_status)}) , method: :patch, class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

