
<script>
  let serviceType = "<%= @ride.service_type.name %>";
</script>

<%= simple_form_for @ride do |m| %>

<div class="container-fluid px-0">
  <div class="row no-gutters position-relative">
    <div class="col-md-8 order-md-last">
     <div
     id="map"
     style="width: 100%;
     height: 800px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     ></div>
   </div>
   <div class="col-md-4 order-md-first" style="background-color:white" >
    <div class="form-first pt-3"  style="background-color:black">
      <h3 align="center" style="color:white"><strong>Datos de tu viaje</strong></h3>
      <div class="background-color-black container mt-3 pb-3">
        <%= m.hidden_field :service_type_id, value: @ride.service_type.id %>
        <%= m.simple_fields_for :steps do |f| %>
        <div class="active-dark-4 my-2">
          <%= f.input :address, placeholder: "#{Ride::STEPS[@ride.service_type.name][f.object.order - 1]}", label: false, class: "form-control", input_html: { class: "ride_address", data: {algoliaAppId: 'SYCHV2CBEH', algoliaAppKey: '886e6b850e09a8b1e7086ef43ef3eac6'} } %>
          <%= f.hidden_field :order, value:f.object.order %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="container bg-white">
      <div class="mb-3">
        <div>
          <p class="mt-3 mb-0">Partida</p>
          <div class="d-flex">
            <div class="date-choose datetime-start pb-0">
              <p>Día</p>
              <input class="datepicker" id="start-date"></input>
            </div>
            <div class="date-choose datetime-end pb-0">
              <p>Hora</p>
              <div class="d-flex">
                <select id="start-time-hour">
                  <% (0..23).to_a.each do |num| %>
                  <option value="<%= num %>" data-type="primary"><%= num %> hs</option>
                  <% end %>
                </select>
                <select id="start-time-minute">
                  <% ["00", "15", "30", "45"].each do |num| %>
                  <option value="<%= num %>" data-type="primary"><%= num %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <% if @ride.service_type.name != ServiceType::OPTIONS[1] %>
        <div>
          <p class="mt-1 mb-0">Regreso</p>
          <div class="d-flex">
            <div class="date-choose datetime-start pb-0">
              <p>Día</p>
              <input class="datepicker" id="start-date-2"></input>
            </div>
            <div class="date-choose datetime-end pb-0">
              <p>Hora</p>
              <div class="d-flex">
                <select id="start-time-hour-2">
                  <% (0..23).to_a.each do |num| %>
                  <option value="<%= num %>" data-type="primary"><%= num %> hs</option>
                  <% end %>
                </select>
                <select id="start-time-minute-2">
                  <% ["00", "15", "30", "45"].each do |num| %>
                  <option value="<%= num %>" data-type="primary"><%= num %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <%= m.hidden_field :start_time, as: :hidden, required: false, label: false, id: "start_time", type: "hidden" %>
        <%= m.hidden_field :end_time,  as: :hidden, required: false, label: false, id: "end_time", type: "hidden" %>
      </div>

      <div class="form-group my-2" style="">
        <%= m.input :content, placeholder: 'Añade información relevante para tu chofer', label: false, class: "form-control", id:"exampleFormControlTextarea1", rows:"3" %>
      </div>
        <p class="mb-2">
          <small>Estimated trip time:</small><br>
          <strong id="render-time">-</strong>
        </p>
        <p>
          <small>Estimated price:</small><br>
          <strong id="render-price">-</strong>
        </p>
        <%= m.hidden_field :estimated_price, as: :hidden, type: "hidden" %>
        <%= m.hidden_field :estimated_time_ride, as: :hidden, type: "hidden" %>
      <%= m.button :submit, value:"Pedir Chofer", class: "btn btn-block btn-success text-center disabled", disabled:"disabled", id:"chofer_request" %>
    </div>
  </div>
</div>
<% end %>


<script>
  window.addEventListener('load', function () {
    const locateUser = document.querySelector(".mapboxgl-ctrl-icon")
    locateUser.click();
  })
</script>
