<div class="container-rider">
 <div class="row">
   <div class="col-md-8 order-md-last mr-0 ml-0 p-0">
       <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
     <button type="button" class="btn btn-success"><strong>Pedir Chofer</strong></button>
   </div>
   <div class="col-md-4 order-md-first p-0 mt-0 form-new-ride" style="background-color:black" >
    <h3 align="center" style="color:white"><strong>Datos de tu viaje</strong></h3>
    <div>
      <div class="background-color-black container mx-2 mt-3">
        <%= simple_form_for @ride do |f| %>
        <div class="active-dark-4 my-2 mx-3">
        <%= f.input :origin, placeholder: 'Punto de partida', label: false, class: "form-control"%>
        </div>
        <div class="active-dark-4 my-2 mx-3">
        <%= f.input :destination_principal, placeholder: 'Destino principal',label: false, class: "form-control" %>
        </div>
        <div class="active-dark-4 my-2 mx-3">
        <%= f.input :destination, placeholder: 'Punto de regreso',label: false, class: "form-control" %>
        </div>
        </div>
        <div class="vh-100" style="background-color:white" >
          <div class="d-flex flex-row justify-content-between mx-3">
            <div class="active-dark-4 my-4 mx-5">
              <input class="form-control" type="text" placeholder="Piso/Lote" aria-label="Punto de partida">
            </div>
          </div>
          <div class="d-flex flex-row justify-content-between mx-3">
            <div class="active-dark-4 my-2 mx-3">
              <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
            </div>
            <div class="active-dark-4 my-2 mx-3">
              <%= f.input :end_time,  as: :string, required: false, input_html: {class: "datepicker"} %>
            </div>
          </div>

          <div class="form-group my-2 mx-4">
          <%= f.input :content, placeholder: 'Añade información relevante para tu chofer', label: false, class: "form-control", id:"exampleFormControlTextarea1", rows:"3" %>
          </div>
          <%= f.button :submit %>
        </div>
      </div>
    </div>
  </div>
<% end %>
