
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491921125492-f0b9c835b699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container col-md-6 col-sm-12 d-flex text-align-center justify-content-center">
    <div class="rounded form-show-ride" style="height: 1600px; width: 600px; background-color: white;">
      <div class="border-secondary rounded my-3 mx-3 text-center">
        <h4>Confirmar Los datos</h4>
      </div>
      <div class="p-3 m-4">
        <%= simple_form_for @ride do |m| %>
        <%= m.hidden_field :service_type_id, value: @ride.service_type.id %>
        <%= m.simple_fields_for :steps do |f| %>
        <div class="active-dark-4 my-2">
          <%= f.input :address, placeholder: 'Ingrese direcci칩n', label: false, class: "form-control"%>
          <%= f.hidden_field :order, value:f.object.order %>
        </div>
        <% end %>
        <%= m.input :start_time, as: :string, required: false, input_html: {class: "datepicker picker-style" } %>
        <% if @ride.service_type.name == "One way trip" %>
        <%= m.hidden_field :end_time,  as: :string, required: false, input_html: {class: "datepicker picker-style" } %>
        <% else %>
        <%= m.input :end_time,  as: :string, required: false, input_html: {class: "datepicker picker-style" } %>
        <% end %>
        <%= m.input :content, placeholder: 'A침ade informaci칩n relevante para tu chofer', label: false, class: "form-control", id:"exampleFormControlTextarea1", rows:"3" %>
        <%= m.button :submit  %>
        <% end %>
      </div>
      <div class="punteado border-dotted border-secondary border-right-0 border-left-0 my-3 rounded p-1 mx-3 text-center">
        <div class="text-left mb-3 mt-1">
          <h7><strong>- Partida:</strong> <%= @ride.steps.first.address %>.</h7>
        </div>
        <div class="text-left mb-3">
          <h7><strong>- Destino:</strong> <%= @ride.steps.last.address %>.</h7>
        </div>
        <div class="text-left mb-1">
          <h7><strong>- Tiempo de viaje estimado</strong> - <%= @ride.total_time_ride %> minutos.</h7>
        </div>
      </div>
      <div class="punteado border-doted border-primary border-right-0 border-left-0 my-5 rounded p-1 mx-3 text-center">
        <div class="my-3">
          <h5>TOTAL ESTIMADO <strong>$<%= @ride.estimated_price %></strong></h5>
        </div>
      </div>
      <div class="mx-3">
        <h3 class="creating-line my-5"><span>Chofer asignado</span></h3>
      </div>

      <div class="notification d-flex justify-content-center border border-secondary m-3">
        <div class="notification-img row flex-column p-4">
          <% if @ride.driver.present? %>
          <img src='<%= @ride.driver.photo %>' class="avatar-large" >
          <div class="stars-chofer">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="notification-content p-4">
          <h4 class="mb-3"><strong>Nombre: </strong><%= @ride.driver.full_name %></h4>
          <h4 class="mb-3"><strong>Edad: </strong>26 a침os</h4>
          <h4 class="mb-3"><strong>Calificacion promedio: </strong>4.5</h4>
          <h4 class="mb-3"><strong>Observaciones: </strong>Gran conductor con habilidades para diferentes modos de manejo.</h4>
        </div>
        <% else %>
        <div class="card" style="width: 100px; height: 100px;">
        </div>
        <% end %>
      </div>
      <div class="border border-secondary mt-5  bg-primary rounded p-1 mx-3 text-center">
        <%= link_to ride_path do  %>
        <p>Confirmar</p>
        <% end %>
     </div>
   </div>
   <div class="border border-secondary my-5  bg-primary rounded p-1 mx-3 text-center">
    <%= link_to "Confirmar", ride_add_card_path(@ride) %>
  </div>
</div>
</div>









