<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1480288828958-3072ad1606c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); background-size: cover;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 mt-3">
        <div class="text-center shadow-sm p-3 mb-4 rounded" style="background: rgba(200,200,200,0.9)">
          <h4 class="font-weight-light mt-1"><strong>VIAJE EN CURSO</strong></h4>
        </div>
        <div class="my-2 shadow-sm p-3 mb-2 rounded" style="background: rgba(200,200,200,0.8)">
          <div class="container text-center my-2">
            <div class="">
              <%= image_tag(@ride.user.cars.first.photo, height: '140', width: '140', class:"mx-auto rounded-circle") %>
            </div>
            <div class="mt-4">
              <h2> <%= @ride.driver.full_name %></h2>
              <!-- <h6>Chofer profesional</h6> -->
              <!-- <h6>Buenos Aires, Argentina.</h6> -->
              <button type="button" class="btn btn-secondary">Mensaje</button>
              <button type="button" class="btn btn-secondary">Llamar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center mt-3">
      <div class="col-12">
        <div class="mx-md-5 shadow-sm py-3 px-5 px-md-3 mb-4 rounded" style="background: rgba(200,200,200,0.8)">
          <div style="" class="d-flex flex-md-column">
            <div class="position-relative flex-grow-0  d-flex flex-column justify-content-around flex-md-row">
              <div class="h-100 flex-grow-0 rounded-pill d-flex flex-column justify-content-around flex-md-row journey-path-wrapper">
                <% Ride::MESSAGES.count.times do |num| %>
                <div class="rounded-circle <%= Ride::statuses[@ride.status] <= (num + 2) ? 'bg-secondary ' : 'bg-primary' %>" style="height: 20px; width: 20px;"></div>
                <% end %>
              </div>
              <div class="rounded-pill bg-secondary journey-path position-absolute journey-path-completed">
                <div class="bg-primary rounded-pill wandh-<%= (Ride::statuses[@ride.status] - 2) * 25  %>"></div>
              </div>
            </div>
            <div class="flex-grow-0 my-2 rounded-pill d-flex flex-column justify-content-around flex-md-row mt-md-4 icon-wrapper ml-3 ml-md-0 mx-md-auto">
              <%= image_tag("car-front#{ Ride::statuses[@ride.status] < 3 ? '' : '-blue' }.png", width: 35) %>
              <%= image_tag("home#{ Ride::statuses[@ride.status] < 4 ? '' : '-blue' }.png", width: 35) %>
              <%= image_tag("location#{ Ride::statuses[@ride.status] < 5 ? '' : '-blue' }.png", width: 35) %>
              <%= image_tag("racing-flag#{ Ride::statuses[@ride.status] < 6 ? '' : '-blue' }.png", width: 35) %>
            </div>

            <div class="flex-grow-1 d-md-flex justify-content-around text-align-center">
              <% Ride::MESSAGES.each_with_index do |message, index|  %>
                <div class="d-flex align-items-center m-0 pl-3 py-3 pr-0 px-md-2 py-md-0">
                  <p class="<%= Ride::statuses[@ride.status] <= (index + 2) ? 'bg-secondary ' : 'bg-primary' %> border-rounded text-white w-md-100 m-md-0 text-center rounded font-weight-normal text-uppercase p-2 m-0"><%= message %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









